.light-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    color: var(--blue);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Rubik', sans-serif !important;
}

.arrow-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    transition: background-color 0.5s ease,
}