.dark-button {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--dark-red);
    border: 2px white solid;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, color 0.2s ease; 
}

.light-button {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: white;
    border: 2px var(--dark-red) solid;
    font-size: 20px;
    color: var(--dark-red);
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dark-button:hover {
    background-color: white;
    color: var(--dark-red);
}

.light-button:hover {
    background-color: var(--dark-red);
    color: white;
}
