.dark-button {
    padding: 10px 20px;
    border-radius: 50px;
    background: white;
    border: 2px var(--dark-blue) solid;
    font-size: 20px;
    color: var(--dark-blue);
    cursor: pointer;
    position: relative;
    transition: background 0.5s ease, color 0.5s ease;
}

.light-button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    border: 2px var(--yellow) solid;
    font-size: 20px;
    color: var(--yellow);
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-button:hover {
    background: radial-gradient(circle, var(--blue), var(--dark-blue));
    color: var(--yellow);
}

.light-button:hover {
    background-color: var(--yellow);
    color: white;
}