.order-page {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, var(--dark-blue), var(--blue) 20%, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.order-page.as_footer {
    min-height: 0;
    padding: 100px 0;
}

.order-form {
    width: 100%;
    max-width: min(90vw, 500px);
    margin: 0 auto;
    padding: 32px;
    background-color: #fdfdfd;
    border-radius: 16px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.order-form.as_footer {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.order-form h2 {
    margin-bottom: 24px;
    color: black;
}

.new_order_input {
    width: 100%;
    padding: 15px;
    margin-bottom: 6px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.new_order_input.as_footer {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.order-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px var(--dark-blue);
}

.order-form button[type="submit"]:hover {
    box-shadow: 0 2px 10px var(--dark-blue);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.new_order_title {
    font-family: 'GevertLevin';
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}