.order-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    /* justify-content: center;  מרכז אופקית */
    /* align-items: center;    */
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.order-form {
    position: relative;
    z-index: 1;
    min-width: 400px;
    margin: auto;
    padding: 32px;
    background-color: #fdfdfd;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(161, 119, 53, 0.686);
    text-align: right;
}

.order-form h2 {
    margin-bottom: 24px;
    color: black;
}

.order-form label {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
}

.order-form input {
    width: 100%;
    padding: 10px 0;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.order-form button {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 12px 0;
    background-color: var(--button-beige);
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

.order-form button:hover {
    background-color: var(--beige);
}