.banner-bar {
    background: radial-gradient(circle, var(--blue), var(--dark-blue));
    padding: 50px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    width: 90vw;
    margin: auto;
    border-radius: 50vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.726); 
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

/* אנימציות כניסה ויציאה */

@keyframes slideInOutLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(-1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
    }

    /* 90% {
        opacity: 0;
        transform: translateX(-40vw);
    } */

    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

@keyframes slideInOutRight {
    0% {
        opacity: 0;
        transform: translateX(40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
    }


    /* 90% {
        opacity: 0;
        transform: translateX(40vw);
    } */

    100% {
        opacity: 0;
        transform: translateX(40vw);
    }
}

.slide-left {
    animation: slideInOutLeft 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-bottom: 20px;
    margin-top: 0px;
    color: var(--yellow);
    font-weight: 50;
}

.slide-right {
    animation: slideInOutRight 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: var(--yellow);
    font-weight: 50;
}