.banner-bar {
    background-color: var(--beige);
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

/* אנימציות כניסה ויציאה */

@keyframes slideInOutLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(-1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    /* 90% {
        opacity: 0;
        transform: translateX(-40vw);
    } */

    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

@keyframes slideInOutRight {
    0% {
        opacity: 0;
        transform: translateX(40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }


    /* 90% {
        opacity: 0;
        transform: translateX(40vw);
    } */

    100% {
        opacity: 0;
        transform: translateX(40vw);
    }
}

.slide-left {
    animation: slideInOutLeft 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-bottom: 10px;
    margin-top: 0px;
    color: var(--dark-red);
}

.slide-right {
    animation: slideInOutRight 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: var(--dark-red);
}