.banner-body {
    padding-bottom: 100px;
}

.banner-bar {
    background: linear-gradient(to bottom, var(--dark-blue), var(--blue), white);
    padding: 50px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 70vw;
    margin: auto;
    border-radius: var(--radius);
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

/* אנימציות כניסה ויציאה */

@keyframes slideInOutLeft {
    0% {
        opacity: 0;
        transform: translateX(-40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(-1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-40vw);
    }
}

@keyframes slideInOutRight {
    0% {
        opacity: 0;
        transform: translateX(40vw);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    24% {
        opacity: 1;
        transform: translateX(1vw);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(40vw);
    }
}

.slide-left {
    animation: slideInOutLeft 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-bottom: 20px;
    margin-top: 0px;
    color: var(--yellow);
}

.slide-right {
    animation: slideInOutRight 3.5s ease-in-out infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    color: var(--yellow);
}

@media (max-width: 600px) {
    .banner-bar {
        width: 90vw;
        font-size: 12px;
    }
}