/* קונטיינר ראשי - חלוקה ימין/שמאל */
.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 5vw;
  direction: rtl;
}

/* צד שמאל - מפה */
.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;           /* גובה מלא, יורש מהקונטיינר הראשי */
  position: relative;    
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.details-body {
  flex: 1;
}

.details-body h2 {
  text-align: center;
  font-size: 30px;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4vh 5vw;
  direction: rtl;
}

.detail-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 50vh;
  border: 1px solid var(--yellow);
  font-size: 1rem;
  color: var(--yellow);
  overflow: hidden;
  z-index: 0;
  background: radial-gradient(circle, var(--blue), var(--dark-blue));
  transition: color 0.6s ease;
}

.detail-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, var(--blue), var(--dark-blue));
  z-index: -1;
  transform: translateX(100%);
  transition: transform 0.6s ease;
}

.detail-item:hover::before {
  transform: translateX(0);
}

.detail-item>.detail-icon,
.detail-item>.detail-text {
  display: inline-block;
  transition: transform 0.6s ease;
  transform: translateX(0);
}

.detail-item:hover>.detail-icon,
.detail-item:hover>.detail-text {
  transform: translateX(-10%);
}

.detail-icon {
  font-size: 1.4rem;
  color: var(--yellow);
  margin-left: 0.7rem;
}

.detail-text {
  flex: 1;
  font-weight: bold;
}

/* רספונסיביות למסכים קטנים */
@media (max-width: 768px) {
  .details-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .map-container iframe {
    max-width: 100%;
    height: 300px;
  }
}