:root {
    /* --light-blue: #f0f1f1;
    --button-beige: #efd6a6;
    --beige: rgb(251, 245, 234);
    --blue: #2b5999;
    --dark-blue: #10315b;
    --text-grey: rgb(69, 69, 69);
    --light-grey: rgb(246, 245, 245);
    --yellow: rgb(251, 207, 47); */
    --light-blue: #f0f1f1;
    --button-beige: #efd6a6;
    --beige: rgb(251, 245, 234);
    --blue: #098db8;
    --dark-blue: #022b77;
    --text-grey: rgb(69, 69, 69);
    --light-grey: rgb(246, 245, 245);
    /* --yellow: rgb(255, 219, 89); */
    --yellow: rgb(252, 203, 55);
}