.our-story-background-div {
    padding-top: 100px;
}

.our-story-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90vw;
    margin: auto;
    padding: 50px 0 150px 0;
    box-sizing: border-box;
    background: radial-gradient(circle, var(--blue), var(--dark-blue), var(--blue), var(--dark-blue));
    border-radius: 0 0 45vw 45vw;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.text {
    margin: 20px 100px;
    color: var(--yellow);
}

p.text {
    font-size: 1.2rem;
}

.icon_container {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;


}

.icon_image {
    width: auto;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 800px) {
    .text {
        margin: 20px 50px;
    }
}

@media (max-width: 500px) {
    .text {
        margin: 20px 20px;
    }
}