.our-story-body {
    /* border: 1px solid var(--yellow);
    margin: auto;
    width: 80vw;
    height: 40vw;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 600px;
    margin: auto;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: var(--dark-red);
    border-radius: 0 0 40vw 40vw;
}

.text {
    margin: 20px 100px;
    color: var(--beige);
}

.icon_container {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;


}

.icon_image {
    width: auto;
    height: 100%;
    object-fit: contain;
}