.article-body {
    background: linear-gradient(to top, var(--dark-blue), var(--blue) 20%, white);
    position: fixed;
    inset: 0;
    overflow: hidden;
}

.article-container {
    text-align: right;
    padding: 80px;
    max-width: 800px;
    height: 100vh;
    overflow-y: auto;
    margin: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.article-container h1 {
    font-size: 24px;
    color: var(--dark-blue);
    margin-bottom: 10px;
    text-align: center;
}

.article-container h2 {
    font-size: 20px;
    margin-top: 2rem;
    color: var(--dark-blue);
}

.article-container p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: var(--text-grey);
}

.article-explanation {
    text-align: center;
}

.article-container h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--blue);
}

.article-step {
    margin: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.article-step.even {
    flex-direction: row;
}

.article-step .timeline-indicator {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: var(--dark-blue);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.step-content {
    flex-grow: 1;
    padding: 0 80px;
}

.total-text {
    color: white !important;
}