.article-container {
    text-align: right;
    background: linear-gradient(to bottom, #fdf8f3, #f0e4d7);
    padding: 2rem;
    border-radius: 16px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.article-body {
    padding: 50px;
}

.article-container h1 {
    font-size: 2rem;
    color: #5e3c27;
    margin-bottom: 1rem;
}

.article-container h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #7a4f28;
}

.article-container p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #333;
}

.article-container h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #4b3a2f;
}