.gallery-item {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    break-inside: avoid;
}

.gallery-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.gallery-description-container>p {
    margin: 0;
}

.gallery-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 30px;
    position: relative;
}

.gallery-button .tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 8px;
    position: absolute;
    bottom: -25%;
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    z-index: 10;
}

.gallery-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.favorite-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.gallery-image-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    cursor: pointer;
    transition: transform 1s ease, opacity 1s ease;
    transform: scale(0.6);
    opacity: 0;
}

.gallery-image.visible {
    transform: scale(1);
    opacity: 1;
}

.gallery-image:hover {
    transform: scale(1.2);
}

.extra-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.gallery-image-SKU {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50vh;
    color: white;
}

.glass-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--light-grey);
    border-radius: 50%;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}