.gallery-page {
    max-width: 80vw;
    text-align: center;
    direction: rtl;
    margin: auto;
}

.gallery-title {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--blue);
    padding: 20px 0;
}

.gallery-grid {
    column-count: 3;
    column-gap: 5px;
}

.image-div {
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    cursor: pointer;
    transition: transform 1s ease, opacity 1s ease;
    margin-bottom: 5px;
    transform: scale(0.6);
    opacity: 0;
}

.gallery-image.visible {
    transform: scale(1);
    opacity: 1;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .gallery-grid {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .gallery-grid {
        column-count: 1;
    }
}