.gradient-text {
    background: linear-gradient(to left, var(--dark-blue), var(--blue), var(--dark-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.homepage-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.hole-background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content-overlay {
    position: relative;
    z-index: 1;
}

.white-bg-container {
    background-color: white;
}

.grey-container {
    background-color: var(--light-grey);
    background-image: url('../../public/images/lines5.png');
    background-size: 150%;
}

.top-container {
    margin-top: -80px;
    position: relative;
}

.top-layer-container {
    position: relative;
    z-index: 2;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}