/* עטיפת כל העמוד */
.orders-container {
    position: relative;
    min-height: 100vh;
    /* overflow-y: auto; */
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--light-blue);
}

.title-wrapper {
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
}


/* כותרת */
.orders-title {
    text-align: center;
    color: var(--blue);
    margin-bottom: 1rem;
}

/* רשימת הזמנות */
.orders-list {
    max-width: 90vw;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.order-item {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    color: var(--yellow);
}

.order-item h3{
    background: radial-gradient(circle, var(--blue), var(--dark-blue));
    padding: 10px 20px;
    border-radius: 50vh;
    width: fit-content;
}