.hole-body {
    position: relative;
    height: 120vh;
    overflow: hidden;
}

.hole-overlay {
    position: absolute;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.66);
    pointer-events: none;
    z-index: 3;
    transform: translate(-50%, -50%);
}