.quastions-body {
    padding: 150px 200px;
    text-align: right;
    direction: rtl;
    background-color: var(--light-blue);
    border-bottom: none;
    width: 90vw;
    box-sizing: border-box;
    margin: auto;
    border-radius: 45vw 45vw 0 0;
}

.quastions-body p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.faq-list {
    max-width: 800px;
    margin: auto;
}

.faq-item {
    border: 1px solid var(--yellow);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    text-align: right;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--beige); */
}

.faq-answer {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    padding: 0 1rem;
    /* background-color: var(--beige); */
}

.faq-answer.open {
    height: 50px;
}

.faq-answer p {
    font-size: 1rem;
    color: var(--blue);
    line-height: 1.6;
    text-align: start;
}

@media (max-width: 1400px) {
    .quastions-body {
        padding: 150px 100px;
    }
}

@media (max-width: 800px) {
    .quastions-body {
        padding: 150px 50px;
    }
}

@media (max-width: 500px) {
    .quastions-body {
        padding: 150px 20px;
    }
}