.navbar {
    position: fixed;
    right: 0;
    height: 100%;
    padding: 0 10px;
    z-index: 3;
    background-color: rgba(76, 56, 18, 0.74);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.icon-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.icon-image {
    width: 100%;
    height: 100%;
}

.login-button-div {
    margin-top: 50px;
}

.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 5;
    background: var(--dark-red);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* כיסוי מסך */
.mobile-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 9998;
}

/* תפריט צד */
.mobile-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(76, 56, 18, 0.95);
    z-index: 9999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }
}