@import './styles/colors.css';
@import './styles/sizes.css';

@font-face {
  font-family: "Gan";
  src: url("../public/fonts/ganclm_bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "GevertLevin";
  src: url("../public/fonts/GveretLevin.otf") format("truetype");
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.effect-line {
  background-color: black;
  color: white;
  padding: 15px 0;
  font-family: 'DynaPuff', 'GveretLevin';
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  text-decoration: rtl;
}