:root {
    --light-blue: #f0f1f1;
    --button-beige: #efd6a6;
    --beige: rgb(251, 245, 234);
    --blue: #175dc0;
    --dark-blue: #10315b;
    --text-grey: rgb(120, 118, 118);
    --light-grey: rgb(239, 238, 238);
    --yellow: rgb(225, 171, 44);
}