:root {
    --light-blue: #e5eaeb;
    --button-beige: #efd6a6;
    --beige: rgb(251, 245, 234);
    --blue: #107d96;
    --dark-blue: #10425b;
    --text-grey: rgb(120, 118, 118);
    --light-grey: rgb(232, 232, 232);
    --yellow: rgb(225, 171, 44);
}