body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: 'Rubik', sans-serif !important;
}

.text-gradient {
  background: linear-gradient(to left, rgb(45, 48, 100), var(--blue), rgb(45, 48, 100));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gold-text-gradient {
  background: linear-gradient(to bottom,
      #382900 0%,
      #a77a07 18%,
      #ffd95a 38%,
      #fff3b0 50%,
      #ffd54a 62%,
      #8f6901 82%,
      #3f2e00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gold-bg-gradient {
  background: linear-gradient(to bottom,
      #a77a07 0%,
      #ffd95a 30%,
      #fff3b0 50%,
      #ffd54a 70%,
      #8f6901 100%);
}