body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: 'Rubik', sans-serif !important;
}

.text-gradient {
  background: linear-gradient(to left, rgb(45, 48, 100), var(--blue), rgb(45, 48, 100));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* code {  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; } */