.dates-container {
    padding: 100px;
    background: var(--light-grey);
    text-align: center;
}

.dates-container p {
    font-size: 30px;
    font-weight: bold;
}

.calender-div {
    margin: auto;
    width: fit-content;
}

.react-calendar {
    border: none;
    border-radius: 15px;
    max-width: 90vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid var(--dark-blue);
    font-family: Arial, sans-serif;
}

.react-calendar__navigation button {
    border-radius: 50vh;

}

.react-calendar__tile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: var(--dark-blue) !important;
}

.react-calendar__tile:not(.react-calendar__tile--disabled):hover {
    background-color: white;
}

.react-calendar__tile--now {
    background-color: white;
}

.react-calendar__tile--active {
    background-color: white !important;
    color: black;
}

.date-taken {
    background-color: var(--blue) !important;
    color: var(--yellow) !important;
    border-radius: 50%;
}